body {
    margin: 0;
    background-color: #393e46;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.first-page{
    padding-bottom:100px;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(#222831, #556986);
    z-index: 100;
}

.logo-img {
    width: 255px;
    height: auto;
    padding-top: 10px;
}

.pelements {
    display: flex;
    margin-left: auto;
    font-size: 30px;
    color: white;
    gap: 85px;
    font-family: 'Inter';
    font-weight: 300;
    padding-right: 50px;
}

.pelements a {
    text-decoration: none;
}

.pelements p {
    margin: 0;
}

a:link,
a:visited {
    color: inherit;
}

.pelements a:hover p {
    color: #00ADB5;
    transition: color 0.3s ease-in-out;
}


a:active {
    color: inherit;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-title {
    color: #ffffff;
    font-size: 80px;
    font-family: 'Inter';
    text-decoration: underline;
    text-decoration-thickness: 4px;
    margin-top: 100px;
    text-align: center;
}

.main-text {
    width: 100%;
    text-align: left;
    padding: 0 20px;
}

.blue-text {
    color: #00ADB5;
}

.subtitles-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.subtitle-left, .subtitle-right, .subtitle-bottom {
    width: 45%;
    text-align: center;
    font-size: 50px;
    color: white;
    border: 2px solid #00ADB5; /* Add border to each subtitle */
    padding: 10px; /* Add padding inside the border */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 20px;
}

.subtitle-left{
    margin-left: 40px;
}

.subtitle-right{
    margin-right: 40px;
}

.subtitle-bottom {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
}

.paragraphs-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.paragraph-left, .paragraph-right, .paragraph-bottom {
    width: 45%;
    color: white;
    font-size: 18px;
    text-align: left;
    border: 2px solid #00ADB5; /* Add border to each paragraph */
    padding: 10px; /* Add padding inside the border */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 20px;
}

.paragraph-left {
    margin-left: 40px;
}

.paragraph-right {
    margin-right: 40px;
}

.paragraph-bottom {
    width: 50%;
    margin-left: 25%;
    text-align: left;
}
/*FORM CSS*/


form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #000000;
    color:white;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 10px;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #00ADB5;
    border-color: rgb(0, 0, 0);
    color:#000000;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}

.inline{
    display: inline; 
}
h1, p{
    color: rgb(255, 255, 255);
}

.dropdown{
    border-radius: 10px;
}

/*END OF FORM CSS*/

.fourth-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically within the container */
    align-items: center; /* Centers content horizontally within the container */
    text-align: center;
    min-height: 20vh; /* Ensures the section covers at least the full viewport height */
    background-color: #393e46; /* Same background as the first page */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* Prevents any overflow */
}
.social-img{
    width:50px;
    padding-left: 10px;
    padding-right: 10px;
}
.position-bottom {
    display: flex;
    align-items: center; /* Centers the items vertically */
}
.position-bottom img {
    margin-right: 5px; /* Adds some space between the image and the text */
}
.third-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically within the container */
    align-items: center; /* Centers content horizontally within the container */
    text-align: center;
    min-height: 100vh; /* Ensures the section covers at least the full viewport height */
    background: linear-gradient(#222831, #556986); /* Same background as the first page */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* Prevents any overflow */
}
/* Define the keyframes for the floating and opacity transition */
@keyframes floatIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to all elements except the banner */
  .first-page .main-page,
  .second-page,
  .third-page,
  .fourth-page {
    animation: floatIn 1.5s ease-out forwards;
  }
  @media (max-width: 768px) {
    .pelements {
        gap: 20px; /* Reduces spacing on smaller screens */
        font-size: 20px;
    }
}
